numpy
Requests
sounddevice
soundfile
tkinter

# Deep learning backend
torch
torchvision
torchaudio

# Whisper
faster_whisper
librosa

# Hugging Face Transformers and dependencies
transformers
datasets
sentencepiece
sacremoses