numpy
Requests
pyaudio; sys_platform != "win32"
pyaudiowpatch; sys_platform == "win32"
tkinter; sys_platform == "win32"
soundfile
pydot
spacy
soxr

# Deep learning backend
torch
torchvision
torchaudio

# Whisper
faster_whisper
librosa

# Hugging Face Transformers and dependencies
transformers
datasets
sentencepiece
sacremoses
bitsandbytes
